<header>
    <script src="./js/header.js"></script>
        <h1>CAFETERIA IESFSL</h1>

        <nav id="navegacion">
            <ul>
                <li id="link_sobre_nosotros"><a href="../index.html">SOBRE NOSOTROS</a></li>
                <li><a href="./html/menu.html" >MENU</a></li>
                <li><a href="./html/sugerencias.html">SUGERENCIAS</a></li>
                <li id="link_entrar"><a id="text_entrar">ENTRAR</a></li>
            </ul>
        </nav>
</header>

    <div id="login">
        <div id="icono">
            <img id="icon" src="./img/login/usuario.png">
        </div>
        <div id="introlog">
            <form>
                <input type="email" placeholder="Correo" id="correo"><br>

                <input type="password" id="contra" placeholder="·······"><br>

                <button type="button" id="entrar">Entrar</button><br>

                <a href="">¿Olvidaste tu contraseña?</a>
            </form>

        </div>
</div>

        <div id="compra">
          <h2>Tu cesta </h2>
            <hr>
            <p>Total : </p>

        </div>


