<header>
    <script src=""></script>
    <h1>CAFETERIA IESFSL</h1>
    <nav id="navegacion">
        <ul>
            <li><a href="../index.html">SOBRE NOSOTROS</a></li>
            <li><a href="./html/menu.html">MENU</a></li>
            <li><a href="./html/sugerencias.html">SUGERENCIAS</a></li>
            <li id="user_info">
                <ul>
                    <li><label id="head_username">Username</label></li>
                        <li><img id="head_userimg" src="../img/icon/badass_user.png"></li>
                        <li><img id="head_cart" src="../img/icon/cesta.png"></li>
                        <li>Cerrar sesión</li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

    <div id="tienda">
        <ul>
            <li class="row">
              <div class="imagen">
                  <img src="../../img/galeria/bocadillo/bocadillo1.jpg">
                </div>
                <div class="articulo">
                    <h5>Tortilla</h5>
                </div>
                <div class="precio">
                    <span>2€</span>
                </div>
            </li>
            <li class="row">
              <div class="imagen">
                  <img src="../../img/galeria/bebidas/cerveza.jpg">
                </div>
                <div class="articulo">
                    <h5>Cerveza</h5>
                </div>
                <div class="precio">
                    <span>1€</span>
                </div>
            </li>
            <li class="row">
              <div class="imagen">
                  <img src="../../img/galeria/cafes/cortado.jpg">
                </div>
                <div class="articulo">
                    <h5>Cafe cortado</h5>
                </div>
                <div class="precio">
                    <span>1.50€</span>
                </div>
            </li>

        </ul>
        <input id="pagar" type="button" value="Pagar">


</div>
