<header>
    <script src=""></script>
    <h1>CAFETERIA IESFSL</h1>
    <nav id="navegacion">
        <ul>
            <li><a href="../index.html">SOBRE NOSOTROS</a></li>
            <li><a href="./html/menu.html">MENU</a></li>
            <li><a href="./html/sugerencias.html">SUGERENCIAS</a></li>
            <li id="user_info">
                <ul>
                    <li><label id="head_username">Username</label></li>
                    <li><img id="head_userimg" src="../img/icon/badass_user.png"></li>
                    <li><img id="head_cart" src="../img/icon/carrito.png"></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
