<header>
    <script src="./js/header.js"></script>
        <h1>CAFETERIA IESFSL</h1>

        <nav id="navegacion">
            <ul>
                <li><a href="../index.html">SOBRE NOSOTROS</a></li>
                <li><a href="./html/menu.html" >MENU</a></li>
                <li><a href="./html/sugerencias.html">SUGERENCIAS</a></li>
                <li id="user_info">
                    <label id="head_username">Usuario</label>
                    <img id="head_userimg" src="../../img/login/usuario.png">
                </li>
            </ul>
        </nav>
</header>
