<header>
    <script src="./js/header.js"></script>
        <h1>CAFETERIA IESFSL</h1>

        <nav id="navegacion">
            <ul>
                <li><a href="../index.html">SOBRE NOSOTROS</a></li>
                <li><a href="./html/menu.html" >MENU</a></li>
                <li><a href="./html/sugerencias.html">SUGERENCIAS</a></li>
                <li id="boton_entrar"><a id="entrar" href="">ENTRAR</a></li>
            </ul>
        </nav>
</header>

    <div id="login">
        <div id="icono">
            <img id="icon" src="./img/login/usuario.png">
        </div>
        <div id="introlog">
            <form>
                <input type="email" placeholder="Correo" id="correo"><br>

                <input type="password" id="contra" placeholder="·······"><br>

                <button type="submit" id="entrar">Entrar</button><br>

                <a href="">¿Olvidaste tu contraseña?</a>
            </form>

        </div>
    </div>

