<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
    <script src="../jquery-3.2.1.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
        $(function() {
            $("#cabecera").load("header.html");
        });

    </script>
    <script src="../js/header.js">


    </script>
</head>

<body>
    <div id="cabecera"></div>

    <div id="menu">

        <div id="navMenu">
            <ul>
                <li id="link_bocadillos">Bocadillos</li>
                <li id="link_bebidas">Bebidas</li>
                <li id="link_cafes">Cafés</li>
                <li id="link_snacks">Snacks</li>
            </ul>

        </div>
        <div id="bocadillos">
            <div id="titulo_menu">
                <h1>BOCADILLOS</h1>
            </div>

            <div class=elementos>
                <div class="producto">
                    <div>
                        <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    </div>
                    <div>
                        <p>Calamares</p>
                        <p>2 €</p>
                    </div>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo1.jpg" name="bocadillo1" alt="bocadillo1">
                    <p>Tortilla</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo2.jpg" name="bocadillo2" alt="bocadillo2">
                    <p>Chivito</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo3.jpg" name="bocadillo3" alt="bocadillo3">
                    <p>Jamón y queso</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo4.jpg" name="bocadillo4" alt="bocadillo4">
                    <p>Sepia</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo5.jpg" name="bocadillo5" alt="bocadillo5">
                    <p>Brascada</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo6.jpg" name="bocadillo6" alt="bocadillo6">
                    <p>Longanizas</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo8.jpg" name="bocadillo7" alt="bocadillo7">
                    <p>Atún</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo8.jpg" name="bocadillo8" alt="bocadillo8">
                    <p>Lomo y queso</p>
                    <p>2 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo9.jpg" name="bocadillo9" alt="bocadillo9">
                    <p>Pechuga pollo</p>
                    <p>2 €</p>
                </div>

            </div>

        </div>
        <div id="bebidas">
            <div id="titulo_menu">
                <h1>BEBIDAS</h1>
            </div>
            <div class=elementos>
                <div class="producto">
                    <img src="../img/galeria/bebidas/agua.jpg" name="agua" alt="agua">
                    <p>Agua</p>
                    <p>1 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bebidas/cocaCola.jpg" name="coca cola" alt="coca cola">
                    <p>Coca Cola</p>
                    <p>1 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bebidas/fanta.jpg" name="fanta" alt="fanta">
                    <p>Fanta de naranja</p>
                    <p>1 €</p>
                </div>
            </div>
        </div>
        <div id="cafes">
            <div id="titulo_menu">
                <h1>CAFÉS</h1>
            </div>
            <div class=elementos>
                <div class="producto">
                    <img src="../img/galeria/cafes/solo.jpg" name="solo" alt="solo">
                    <p>Solo</p>
                    <p>1 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/cafes/cortado.jpg" name="Cortado" alt="Cortado">
                    <p>Cortado</p>
                    <p>1 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/cafes/bombon.jpg" name="Bombón" alt="Bombón">
                    <p>Bombón</p>
                    <p>1,5 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/cafes/poleo.jpg" name="Poleo" alt="Poleo">
                    <p>Poleo</p>
                    <p>1 €</p>
                </div>
            </div>

        </div>
        <div id="snacks">
            <div id="titulo_menu">
                <h1>SNACKS</h1>
            </div>
            <div class=elementos>
                <div class="producto">
                    <img src="../img/galeria/snacks/cheetos.jpg" name="cheetos" alt="cheetos">
                    <p>Cheetos</p>
                    <p>1 €</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/snacks/rosquilletas.jpg" name="rosquilletas" alt="rosquilletas">
                    <p>Rosquilletas</p>
                    <p>1 €</p>
                </div>
            </div>

        </div>
    </div>
</body>









</html>
