<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
    <script src="../jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $("#cabecera").load("header.html");
        });

    </script>
</head>

<body>
    <div id="cabecera"></div>

    <div id="menu">

        <div id="navMenu">
            <ul>
                <li>Bocadillos</li>
                <li>Bebidas</li>
                <li>Cafés</li>
                <li>Snacks</li>
            </ul>

        </div>
        <div id="bocadillos">
            <div id="titulo_menu">
                <h1>BOCADILLOS</h1>
            </div>

            <div class=elementos>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Calamares</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Tortilla</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Chivito</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Jamón y queso</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Sepia</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Sepia</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Sepia</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Sepia</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Sepia</p>
                </div>
                <div class="producto">
                    <img src="../img/galeria/bocadillo/bocadillo.jpg" name="bocadillo" alt="bocadillo">
                    <br>
                    <br>
                    <p>Sepia</p>
                </div>

            </div>

        </div>
        <div id="bebidas">

        </div>
        <div id="cafes">

        </div>
        <div id="snacks">

        </div>
    </div>
</body>









</html>
