header {
  display: grid;
  grid-template-columns: [col1] 50vw [col2] 50vw [col3];
  grid-template-rows: [row1] 5vw [row2];
  grid-template-areas: "logo  menu";
  background-color: rgba(33, 33, 33, 0.66); }
  header h1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    margin-left: 2%;
    grid-area: "logo";
    font-size: 2.2vw;
    font-family: "Merienda One", "cursive";
    color: #FF5700; }
  header #navegacion {
    grid-area: "menu";
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif; }
    header #navegacion ul {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0%;
      margin: 0%; }
      header #navegacion ul li {
        color: whitesmoke;
        text-shadow: 1px 1px 3px black;
        float: right;
        margin-left: 4%;
        font-weight: 600;
        list-style-type: none; }

#galeria {
  width: auto;
  height: auto; }

#sobre_nosotros {
  background-color: rgba(33, 33, 33, 0.58);
  width: auto;
  height: auto; }
