@mixin centrar {
    text-align: center;
}

@mixin layout($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@mixin centrar-vertical {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
