/* https://color.adobe.com/es/Cafeteria-FSL2-color-theme-10041720 */

@import "mixin";


body{
    margin: 0%;
}
header {
    display: grid;
    grid-template-columns: unquote("[col1] 40vw [col2\] 60vw [col3]");
    grid-template-rows: unquote("[row1] 5vw [row2]");
    grid-template-areas: "logo  menu";

    h1 {
        @include centrar-vertical;
        justify-content: flex-start;
        margin: 0%;
        grid-area: "logo";
    }
    #navegacion {
        grid-area: "menu";
        text-align: right;
        font-size: 1.5vw;
        ul {
            @include layout(100%, 100%);
            @include centrar-vertical;
            padding: 0%;
            margin: 0%;
            li {
                margin-left: 2%;
                list-style-type: none;
            }
        }
    }
}

/*
@media (){
    header {

        grid-template-areas: ....;
    }
}
*/
