<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css" />
    <script src="./jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $("#cabecera").load("./html/header.html");
        });

    </script>
</head>

<body>
    <div id="cabecera"></div>

    <div id="contenido">
        <!--
        <main id="slider">

            <ul id="slider_imagenes">
                <li class="slider_card">
                    <!--<img src="../img/promo/desayunos.jpeg">
                </li>
                <li class="slider_card" id="slider1"><img src="./img/promo/foto.jpg"></li>
                <li class="slider_card" id="slider2"><img src="./img/promo/bocadillo.jpg"></li>
                <li class="slider_card" id="slider3"><img src="./img/promo/desayunos.jpg"></li>
            </ul>

        </main>
-->
        <main id="sobre_nosotros">
            <div id="block1">
                <h2>Quienes Somos:</h2>
                <p>There's that word again, heavy. Why are things so heavy in the future? Is there a problem with the Earth's gravitational pull? What? The only way we're gonna get those two to successfully meet is if they're alone together. So you've got to get your father and mother to interact at some sort of social… What, well you mean like a date? Right.(Marty's house) (Marty runs past the sign that says Lyon Estates and toward his garage. The door of the garage is open and his truck sits there. He picks up a bottle of car wax. Suddenly Biff pops up from the other side of the car.) Hey butthead! Get away from… Watch it, Biff. (Biff's tone instantly changes.)(Biff is beginning to wake up.) Hey... What's CPR? (Biff wakes up and looks at Marty.) (to Marty) You!(w.t) I dunno! (v.o) Well, do you have any idea where he is? (w.t) No, he could be anywhere by now! (Lyon Estates) (w.t) Marty, the entire future depends on you finding Biff and getting that book back!</p>
            </div>
            <div id="block2">
                <h2>Donde estamos:</h2>
                <p>There's that word again, heavy. Why are things so heavy in the future? Is there a problem with the Earth's gravitational pull? What? The only way we're gonna get those two to successfully meet is if they're alone together. So you've got to get your father and mother to interact at some sort of social… What, well you mean like a date? Right.(Marty's house) (Marty runs past the sign that says Lyon Estates and toward his garage. The door of the garage is open and his truck sits there. He picks up a bottle of car wax.</p>
                <p>Pincha en el mapa para localizarnos:</p>
                <div id="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.666268941447!2d-0.3648278170236549!3d39.454274428603604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048d10772ef53%3A0xd7acffc14ee16b6d!2sIES+Font+de+Sant+Llu%C3%ADs!5e0!3m2!1ses!2ses!4v1507892416994"></iframe>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
