@import "mixin";
@import "colores";
@import "./header_loged";

header {
    z-index: 10;
    display: grid;
    grid-template-columns: unquote("[col1] 30vw [col2] 68vw [col3]");
    grid-template-rows: unquote("[row1] 4.5em [row2]");
    grid-template-areas: "logo  menu";

    /* ===== EDGE COMPATIBILITY ===== */
    -ms-display: grid;
    -ms-grid-template-columns: unquote("[col1] 25vw [col2] 70vw [col3]");
    -ms-grid-template-rows: unquote("[row1] 4.5em [row2]");
    -ms-grid-template-areas: "logo  menu";

    background-color: $colorHeader;
    @include prohibir-seleccion;

    border-bottom: 1px darken($colorHeader, 1%) solid;
    h1 {
        grid-area: "logo";
        @include centrar-vertical;
        justify-content: flex-start;
        margin-left: 2%;
        font-size: 1.8em;
        font-family: "Merienda One", "cursive";
        color: $colorPrincipal;
        cursor: default;
    }

    #navegacion {
        grid-area: "menu";
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        text-align: right;
        #lista_nav {
            display: inline-flex;
            justify-content: flex-end;
            @include layout(auto, 100%);
            padding: 0%;
            margin: 0%;

            > li:not(#user_panel) {
                @include centrar-vertical;
                color: whitesmoke;
                /*text-shadow: 1px 1px 3px black;*/
                font-weight: 600;
                list-style-type: none;

                a {
                    padding: 25px 0.5em;
                    color: whitesmoke;
                    text-decoration: none;
                }

                /*
                ::before {
                    border-bottom: 2px $colorPrincipal solid;
                    width: 0px;
                    heigth: 0px;
                    top: 100%;
                    left: 50%;

                }
                :hover::before,
                :active::before {
                    width: 300px;
                    height: 300px;
                }
            }*/
                :hover {
                    cursor: pointer;
                    background-color: lighten($colorHeader, 15%);

                }
                :active {
                    text-shadow: 0px 0px 4px $colorPrincipal;
                }
            }
        }
    }
}
