@import "colores";
@import "mixin";

header {
    display: grid;
    grid-template-columns: unquote("[col1] 25vw [col2] 75vw [col3]");
    grid-template-rows: unquote("[row1] 4.5em [row2]");
    grid-template-areas: "logo  menu";
    background-color: $colorHeader;

    h1 {
        @include centrar-vertical;
        justify-content: flex-start;
        margin-left: 2%;
        grid-area: "logo";
        font-size: 1.8em;
        font-family: "Merienda One", "cursive";
        color: $colorPrincipal;
    }

    #navegacion {
        grid-area: "menu";
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        margin-right: 1%;
        ul {
            @include layout(100%, 100%);
            padding: 0%;
            margin: 0%;
            text-align: right;
            li {
                @include layout(auto, 100%);
                @include centrar-vertical;
                color: whitesmoke;
                padding: 0% 1%;
                /*text-shadow: 1px 1px 3px black;*/
                font-weight: 600;
                list-style-type: none;
                a {
                    color: whitesmoke;
                    text-decoration: none;
                }
            }
            :hover {
                cursor: pointer;
                background-color: lighten($colorHeader, 15%);
            }
        }
    }
}
