@import "mixin";
@import "colores";


$user_info_background: darken($colorHeader, 2%);

header {
    grid-template-columns: unquote("[col1] 30vw [col2] 70vw [col3]");

}

#user_panel {
    grid-area: "menu";
    background-color: $user_info_background;
    list-style: none;
    text-align: right;
    ul {
        display: inline-flex;
        justify-content: flex-end;
        @include layout(auto, 100%);
        padding: 0%;
        margin: 0%;
        li {
            display: flex;
            align-content: center;
            color: whitesmoke;
            font-weight: 600;
            list-style-type: none;
            background-color: $user_info_background;
            #user_info {
                @include centrar-vertical;
                justify-content: space-around;
                #head_userimg {
                    @include layout(20%, auto);
                }
            }
            #cart {
                #cart_img {
                    @include layout(12%, auto);
                }
            }
            #logoff {
                #logoff_icon {
                    border-radius: 10%;
                    background-color: $colorPrincipal;
                    padding: 10%;
                    @include layout(90%, auto);
                }
            }
        }
    }
}
