@import "mixin";
@import "colores";


$user_info_background: darken($colorHeader, 2%);

header {
    grid-template-columns: unquote("[col1] 30vw [col2] 70vw [col3]");

    #navegacion {
        margin-right: 0%;
    }
}

#user_info {
    padding: auto;
    background-color: $user_info_background;
    ul {
        display: flex;
        align-items: center;
        li {
            padding: 0% 5%;

            #head_username {
                label {}

            }
            #head_userimg {
                @include layout(auto, 40%);
            }
            #head_cart {
                @include layout(auto, 30%);
            }


        }

    }}
