@import 'general/mixin';
@import 'general/colores';
@charset 'UTF-8';

#tienda{
    margin: 0;
    padding: 7px;
    border:1px solid black;
    border-top: none;
    background-color: $colorHeader;
    float: right;
    margin-right: 2%;
    width: 300px;
    ul{
        list-style: none;
        padding: 0;
        color: white;
        margin: 3%;
        margin-left: 4%;
        .row{
            margin-bottom: 10%;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            grid-template-areas: "imagen articulo"
                                 "imagen precio";
            .imagen img{
                width: 100px;
                height: auto;
            }
                .imagen{
                    width:100px;
                    height: auto;
                    grid-area:imagen;
                }
                .articulo{
                    width: auto;
                    height: auto;
                    grid-area:articulo;
                    h5{
                        margin: 0 ;
                    }
                    }
                .precio{
                     width: auto;
                     height: auto;
                     grid-area:precio;
                    }

        }
    }
    #pagar{
       @include layout(80%, 40px);
            margin: 3%;
            font-size: 130%;
            background-color: $colorPrincipal;
            border-radius: 2%;
            border: $colorPrincipal solid;
            margin-left: 10%;

    }
        #pagar:hover {
            cursor: pointer;
            color: $colorTexto;
            @include sombrear(0px, 0px, 20px, $colorPrincipal);
        }





}
