/* https://color.adobe.com/es/Cafeteria-FSL2-color-theme-10041720 */

@charset 'UTF-8';

@import "./util/reset";
@import "./general/mixin";
@import "./general/header";
@import "./general/colores";
@import "./login";
@import "./menu";
@import "./sugerencias";
@import "./general/header_loged";
@import "./cesta_compra";

// Fuentes
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


body {
    margin: 0%;
    font-family: sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: slider 20s infinite alternate linear;
    -moz-animation: slider 20s infinite alternate linear;
    -o-animation: slider 20s infinite alternate linear;
    animation: slider 20s infinite alternate linear;

}

@keyframes slider {
    0% {
        background-image: url(../img/promo/foto.jpg);
    }
    20% {
        background-image: url(../img/promo/foto.jpg);
    }

    25% {
        background-image: url(../img/promo/desayunos.jpg);
    }
    45% {
        background-image: url(../img/promo/desayunos.jpg);
    }

    50% {
        background-image: url(../img/promo/bocadillo.jpg);
    }
    70% {
        background-image: url(../img/promo/bocadillo.jpg);
    }

    75% {
        background-image: url(../img/promo/sandwiches.jpg);
    }
    100% {
        background-image: url(../img/promo/sandwiches.jpg);
    }
}

@-moz-keyframes slider {
    0% {
        background-image: url(../img/promo/foto.jpg);
    }
    20% {
        background-image: url(../img/promo/foto.jpg);
    }

    25% {
        background-image: url(../img/promo/desayunos.jpg);
    }
    45% {
        background-image: url(../img/promo/desayunos.jpg);
    }

    50% {
        background-image: url(../img/promo/bocadillo.jpg);
    }
    70% {
        background-image: url(../img/promo/bocadillo.jpg);
    }

    75% {
        background-image: url(../img/promo/sandwiches.jpg);
    }
    100% {
        background-image: url(../img/promo/sandwiches.jpg);
    }
}

#contenido {
    @include layout(100%,
    100%);
    top: 0%;
    left: 0%;
    text-align: center;
    color: white;
    /*
    #slider {
        position: absolute;
        z-index: -10;
        #slider_imagenes {
            margin: 0%;
            padding: 0%;
            .slider_card {
                list-style-type: none;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    */
}

#sobre_nosotros {
    background-color: $fondoBanner;
    border-top: 4px $colorPrincipal solid;
    @include layout(90%,
    auto);
    text-align: justify;
    display: none;
    grid-template-rows: unquote("[row0] 20% [row1] 80% [row2]");
    grid-template-columns: unquote("[col0] 50% [col1] 50% [col2]");
    padding: 1%;
    border-radius: 0.5%;
    margin: auto;
    color: #e8e8e8;
    z-index: 5;
    /*
    -webkit-animation: skyfall 1s 1 linear;
    -moz-animation: skyfall 1s 1 linear;
    -o-animation: skyfall 1s 1 linear;
    animation: skyfall 1s 1 linear;
    */

    div {
        @include layout(auto,
        auto);
        margin: 0.5em;

        h2 {
            font-size: 180%;
            font-family: sans-serif;
            color: lighten($colorPrincipal, 10%);
        }
        p {
            margin: 1em;
        }
        #location {
            text-align: center;
            iframe {
                box-shadow: 2px 2px 10px #585858;
                @include layout(70%,
                60%);
            }
        }
    }
}

@keyframes skyfall {
    0% {
        margin-top: -1%;
    }
    100% {
        margin-top: 0%;
    }
}
/*
@keyframes skyrise {
    0% {
        margin-top: 0%;
    }
    100% {
        margin-top: -1%;
    }
}
*/
/*
@media (){
    header {

        grid-template-areas: ....;
    }
}
*/
