/* https://color.adobe.com/es/Cafeteria-FSL2-color-theme-10041720 */

@charset 'UTF-8';

@import "./util/reset";
@import "./general/mixin";
@import "./general/header";
@import "./general/colores";
@import "./login";
@import "./menu";

// Fuentes
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    margin: 0%;
    background-image: url(../img/promo/foto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contenido {
    @include layout(100%,
    90%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#sobre_nosotros {
    background-color: $bannerFondo;
    @include layout(85%,
    85%);
    text-align: justify;
    display: grid;
    grid-template-rows: unquote("[row0] 30% [row1] 70% [row2]");
    grid-template-columns: unquote("[col0] 50% [col1] 50% [col2]");
    div {
        @include layout(95%, 95%);
        margin: 2%;
    }
}

/*
@media (){
    header {

        grid-template-areas: ....;
    }
}
*/
