

#menu {
    display:grid;
    grid-template-columns:[col1] 25vw [col2] 75vw [col3];
    grid-template-rows: [row1] 25vh [row2] ;.001


    navMenu{
        background-color: $bannerFondo;
        grid-column-start: col1;
        grid-column-end: col3;
    }

}
