@import 'general/colores';
@import 'general/mixin';

#menu {

    background-color: rgba(255, 255, 255, 0.38);
    border: $colorHeader 2px solid;
    margin-top: -2%;
    width: 95vw;
    height: 87vh;
    margin-left: 2vw;
    border-radius: 20px;



    #navMenu {
        position: absolute;
        top: 35vh;
        left: 4vw;
        width: 15vw;
        font-weight: bold;

        li {
            font-family: 'Roboto', sans-serif;
            background-color: lighten($colorPrincipal, 5%);
            font-size: 1.8vw;
            padding: 5%;
            text-align: center;
            border: $colorHeader 2px solid;
            margin-bottom: 2%;

            &:hover {
                cursor: pointer;
                background-color: lighten($colorHeader, 15%);
                color: white;
            }
        }
    }


    #bocadillos {
        border: $colorHeader 2px solid;
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 1%;
        height: 90%;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        display: block;
    }

    #bebidas {
        border: $colorHeader 2px solid;
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 1%;
        height: 90%;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        display: none;
    }

    #cafes {
        border: $colorHeader 2px solid;
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 1%;
        height: 90%;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        display: none;
    }

    #snacks {
        border: $colorHeader 2px solid;
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 1%;
        height: 90%;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        display: none;
    }

    #titulo_menu {
            @include layout(100%, 8%);
            border-bottom: $colorPrincipal 8px solid;


            h1 {
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-size: 3vw;
                font-weight: bold;
                letter-spacing: 20px;
                font-family: 'Dancing Script', cursive;
                border-bottom: $colorHeader 2px solid;
                padding-bottom: 1%;
                padding-top: 1%;
                background-color: $colorHeader;
                margin-bottom: 2%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                color: white;
            }
        }

    .elementos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow-y: scroll;
            @include layout(100%, 88%);

            .producto {
                width: 25%;
                height: 40%;
                border: $colorHeader 2px solid;
                border-radius: 5px;
                background-color: white;
                text-align: center;
                padding: 0;
                padding-bottom: 1%;
                margin-top: 5%;
                margin-bottom: 2%;

                img {
                    width: 100%;
                    height: auto;
                    margin: 0;
                }

                p {
                    font-weight: bold;
                    font-size: 120%;
                    margin-bottom: 0%;
                }
            }
        }
}
